<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <link rel="icon" href="img/Bookworm.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Bookworm Trade Club</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <link href="font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>


  </head>
  <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>





<nav class="navbar navbar-default nav-background navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="/" ><i class="fa fa-book" style="color:white"></i> <b><span class="logo-fonts nav-color">BookWorm </span></b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a href="/signup" ><span class="nav-color" >SignUp</span></a></li>
        <li><a href="/login"><span class="nav-color" >Login</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<center><img src="img/bookworm.gif" height="200px" class="worm-img" ></center>

<br/>
<center><h1 ><span style="font-family: 'Patua One', cursive; font-size:60px;">Book Worm</span></h1></center>
<center><h2><span style="font-family: 'Lora', serif;">Give Books away. Get the books you want</span></h2></center>




<div class=" banner ">
<center><h1>How it works?</h1></center><br/>
<div class="row">
	<div class="col-lg-3">
	<center><span class="badge" style="font-size:30px">1</span></center>
  <span style="font-family: 'Lora', serif;">
	<center><h3 >Add Your Books</h3></center>
	Type in your book name and add it to your catelog to give away.
	</span>
	</div>
	<div class="col-lg-3">
	<center><span class="badge" style="font-size:30px">2</span></center>
	<span style="font-family: 'Lora', serif;"><center><h3>Recieve Requests</h3></center>
	Recieve request from other users who are interested to take your books.
	</span>
	</div>
	<div class="col-lg-3">
	<center><span class="badge" style="font-size:30px">3</span></center>
	<span style="font-family: 'Lora', serif;">
	<center><h3>Mail Your Books</h3></center>
	Accept a trading request and mail book to that person's address.
	</span>
	</div>
	<div class="col-lg-3">
	<center><span class="badge" style="font-size:30px">4</span></center>
	<span style="font-family: 'Lora', serif;">
	<center><h3>Ask for Books</h3></center>
	Ask Books from others by sending the trading request.
	</span>
	</div>

</div>

<div class="sign">
<center>
  <span class="icons "><i class="fa fa-twitter"> <a href="https://twitter.com/dead_lock0" target="_blank">twitter</a> </i> | <i class="fa fa-code"> <a href="http://jayjariwala.com" target="_blank">Portfolio </a> </i> | <i class="fa fa-linkedin"> <a href="http://linkedin.com/in/jay-jariwala" target="_blank">Linkedin </a> </i></span>
   © 2016-2017 Built by Jay Jariwala

</center>
</div>
</div>



  </body>

</html>
