<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <link rel="icon" href="img/Bookworm.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Bookworm Trade Club</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <link href="font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
<script>


$(document).ready(function(){
$('.loading').hide();
  console.log('ready');
  $('#addform').submit(function(){
    $('.myBooks').html("");
    $('.loading').show();
    var bookname=$('#bookinput').val();

    var formData="title="+bookname;

    $.ajax({
    url : "/addbook",
    type: "POST",
    data : formData,
    success: function(data, textStatus, jqXHR)
    {
        $('.loading').hide();
      data.forEach(function(each){
        $('.myBooks').append("<div class='col-xs-6 col-md-2'><span class='thumbnail'><img src='"+each.book_cover+"'><center>"+each.book_name+"</center><center><a href='#'><i class='fa fa-trash'></i></a></center></span></div>");

      })
    },
    error: function (jqXHR, textStatus, errorThrown)
    {

    }
});

return false;

  });
})


</script>

  </head>
  <body>
  <div class="container">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  <div class="container">

    <nav class="navbar navbar-default nav-background navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-book" style="color:white"></i> <b><span class="logo-fonts nav-color">BookWorm </span></b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <%  if(user)

      {
      %>
  <li class="active"><a href="/" style="background-color:lightblue"><%=user.u_name%><span class="sr-only" >(current)</span></a></li>
    <%
   }
    %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
         <li><a href="/outstanding" ><span class="nav-color" ><span class="badge">0</span> Outstanding</span></a></li>
        <li><a href="/unapproved" ><span class="nav-color" ><span class="badge">0</span> unapproved</span></a></li>
        <li><a href="/allbooks" ><span class="nav-color"  >All Books</span></a></li>
        <li><a href="/mybooks" ><span class="nav-color" style="border-bottom:groove; border-color:blue;" >My Books</span></a></li>
        <li><a href="/settings" ><span class="nav-color" ><i class="fa fa-gear"></i></span></a></li>
        <li><a href="/logout"><span class="nav-color" ><i class="fa fa-power-off"></i></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br/>
<br/>
<br/>
<br/>
<h2>My Books</h2>
<br/>

<h4> Add Books</h4>
<form id="addform">

<div class="form-group" id="addBooks">

  <input id="bookinput" name="textinput" type="text" placeholder="Enter Book Name" class="form-control input-md" required>
  <br/>
  <button class="btn btn-primary">Add</button>
  </div>
</div>
</form>

<br/>
<br/>
<div class="loading">
<center>
  <img src="img/cube.gif" />
</center>
</div>
<div class="row myBooks">

  <div class="col-xs-6 col-md-2">
    <span class="thumbnail">
      <img src="img/book1.png">
      <center> Name of the Book</center>
      <center><a href="#"><i class="fa fa-trash"></i></a></center>
      </span>
    </div>

</div>
</div>



</div>
  </body>

</html>
