<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <link rel="icon" href="img/Bookworm.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SignUp</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <link href="font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>

    <script>



$(document).ready(function(){
  $('.alert-danger').hide();

  $('#signup').submit(function(){
var name=$('#inputname').val();
var email=$('#inputEmail').val();
var address=$('#address').val();
var pass=$('#password').val();

var formdata="name="+name+"&email="+email+"&address="+address+"&pass="+pass;

    $.ajax({
          url:"/signup",
          type:"POST",
          data:formdata,
          success: function(data, textStatus, jqXHR)
          {
            console.log("data"+data);
            if(data == "password")
            {
              $('.email').hide();
              $('.pass').show();
              $('#password').val("");

            }
            if(data == 'email')
            {
              $('.email').show();
              $('#inputEmail').val("");
            }
            if(data = 'success')
            {
              location.href = "/login?success=1";
            }
          },
          error:function(jqXHR, textStatus, errorThrown)
          {
            return false;
          }
    });

    return false;
  });

})


    </script>

  </head>
  <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  <div class="container">

    <nav class="navbar navbar-default nav-background navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="/" ><i class="fa fa-book" style="color:white"></i> <b><span class="logo-fonts nav-color">BookWorm </span></b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a href="/signup" ><span class="nav-color" >SignUp</span></a></li>
        <li><a href="/login"><span class="nav-color" >Login</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <!--login form-->

<br/>

</br/>





<div class="container login-main jumbotron">


<center><img src="img/registration.png"  class="img img-responsive" width="50px;"></center>
 <center><legend style="font-family: 'Noto Serif', serif;"><h2>Register</h2></legend></center>
 <fieldset>
<form class="form-horizontal"  id="signup" data-toggle="validator"  >
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput" style="font-family: 'Noto Serif', serif;">Name:</label>
  <div class="col-md-5">
  <input id="inputname" name="textinput" type="text" placeholder="Enter your Name" class="form-control input-md" required>
  <div class="help-block with-errors"></div>


</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput" style="font-family: 'Noto Serif', serif;">Email ID:</label>
  <div class="col-md-5">
  <input  name="textinput" type="email" placeholder="Enter your Email ID" id="inputEmail" data-error="Bruh, that email address is invalid" class="form-control input-md" required>
  <div class="help-block with-errors"></div>

  </div>
</div>


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" style="font-family: 'Noto Serif', serif;" for="Address">Address:</label>
  <div class="col-md-4">
    <textarea class="form-control" id="address" name="Address" placeholder="Enter your full Address"></textarea>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password" style="font-family: 'Noto Serif', serif;">Password:</label>
  <div class="col-md-5">
    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="form-control input-md" required>
    <div class="help-block with-errors"></div>

  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success" style="font-family: 'Noto Serif', serif;">Register</button>

  </div>



</div>



<div class="alert alert-danger pass">
  <strong>Password!</strong> password must be more than 5 char long.
</div>

<div class="alert alert-danger email">
  <strong>Email already Exists!</strong> please use another email.
</div>




</div>
</fieldset>
</form>
</div>





  </body>

</html>
