body{
	overflow-x: hidden;
}
.navbar
{
	background-color: green;
	opacity: 0.9;
	border: 0 !important;

}
.login-main
{


}
.nav-color
{
	color: white;
	font-family: 'Lora', serif;
}

.well
{
	background-color:blue;
	color: white;
	opacity: 0.8;
}
.badge
{
	background-color: black;
}
.worm-img
{
	margin-top: 100px;
}
.cover {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin: 3px;
}
.banner
{
	margin-top: 100px;
	height: auto;
	background-color: green;
	color:white;
	padding: 10px;
}
.login-main
{
	margin-top: 50px;
}
.sign
{
	margin-top: 20px;
}

.sign a{
	color:white;
}
